style{
   font-family: 'Open Sans', sans-serif;
}
/* banner section styles*/
.banner{
   .gradient{
      background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('../images/Banner\ Image.png')}
   width: 1320px;
height: 600px;
display: inline-block;
border-radius: 16px;
align-items: center;
margin: 140px 140px;
justify-content: center;

}
.banner-text p{
   position: absolute;
   color: #fff;
top: 30%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
font-style: normal;
padding: auto;
}
.banner-text h1{
   position: absolute;
   color: #fff;
   top: 30%;
left: 35%;
padding: auto;
justify-content: center;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
font-style: bold;
line-height: 95px; /* 131.944% */
}

/*main section styles*/

/*65% off section style*/
.off{
   padding: 107px;
   background-color: blanchedalmond;

}
.section-title{
   color: #F00;

   text-align: center;
   font-family: Inter;
   font-size: 50px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
}

.section-description{
   color: #F00;
   padding: 6px;
text-align: center;
font-family: Inter;
font-size: smaller;
font-style: normal;
font-weight: 500;
line-height: normal;
}

h4{
   padding: 48px;
   color: black;
text-align: center;
font-family: "Inter-bold",Arial, Helvetica, sans-serif;
font-size: 24px;
font-style:normal;
font-weight: 500;
line-height: normal;
}
.section-image{
   display: flex;
   justify-content: center;
   padding: 400px;
   width: auto;

}
/*banner in main section*/
.banner{
   position: relative;
}
.banner img{
   background-image: -o-linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('../images/Vectorrr.png');
   width: 1320px;
height: 600px;
display: inline;
justify-content: center;
}
.banner-text h2{
   position: absolute;
   top:10%;
   color:#fff;
padding: 30px;
   font-family: Merriweather;
   font-size: 40px;
   font-style: normal;
   font-weight: 700;
   line-height: 44px; /* 137.5% */
   letter-spacing: 7.04px;
   display: flex;
   
}

button{
   position: absolute;
   color: rgba(255, 255, 255, 0.80);
font-family: Inter;
background-color: #070211;
width: 103px;
height: 24px;
bottom:55px;
padding:15px;
font-size: 14px;
font-style: normal;
font-weight: 300;
text-transform: uppercase;
line-height: 20px; /* 166.667% */
}
.banner-img{
   display: flex;
   width: 319.83px;
   height: 464.662px;
   padding: 0.008px 0px 0px 0px;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex-shrink: 0;
}